.header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  align-items: center;
}

.header h1 {
  margin: 0;
  font-weight: bold;
  margin-left: -90px;
  font-size: 2.5em;
}

.header img {
  width: 150px;
}

.icon {
  display: flex;
  gap: 0 0.8em;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .header h1 {
    margin: 0;
    font-weight: bold;
    margin-left: 0;
  }

  .icon {
    margin-top: 1em;
  }
}
